<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>아이 케어, BBIBBO</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function () {
            const page_elements = document.getElementsByClassName("page-link");
            Array.from(page_elements).forEach(function (element) {
                element.addEventListener('click', function () {
                    document.getElementById('page').value = this.dataset.page;
                    document.getElementById('searchForm').submit();
                });
            });
            const btn_search = document.getElementById("button-search");
            btn_search.addEventListener('click', function () {
                document.getElementById('page').value = 0;
                document.getElementById('searchForm').submit();
            });
            const btn_sortType = document.getElementById("inputSortType");
            btn_sortType.addEventListener('change', function () {
                document.getElementById('page').value = 0;
                document.getElementById('searchForm').submit();
            });
            const btn_regionType = document.getElementById("inputRegion");
            btn_regionType.addEventListener('change', function () {
                document.getElementById('page').value = 0;
                document.getElementById('searchForm').submit();
            });
        });

        function kakao() {
            if (confirm("로그인이 필요합니다.")) {
                var key = [[${@environment.getProperty('kakao.key')}]];
                location.href = "https://kauth.kakao.com/oauth/authorize?client_id=" + key
                    + "&redirect_uri=http://52.2.5.154:8080/oauth/kakao&response_type=code&prompt=login";
            }
        }
    </script>
</head>
<body style="background-color: #f8f9fa;">
<div class="nav_bottom" style="background-color: #f8f9fa; margin-top: -14px;">
    <div layout:fragment="content">
        <div class="container my-3" style="width: 80%">
            <div class="content-container">
                <div class="hstack gap-3">
                    <a th:href="@{/community/1}">
                        <button th:attr="class=${board == 1 ? 'btn-success btn' : 'btn-board btn'}" type="button">자유게시판
                        </button>
                    </a>
                    <a th:href="@{/community/2}">
                        <button th:attr="class=${board == 2 ? 'btn btn-success' : 'btn btn-board'}" type="button">정보게시판
                        </button>
                    </a>
                </div>
                <div class="mb-3">
                    <form id="searchForm" method="get" th:action="@{|/community/${board}|}">
                        <div style="display: flex; float:left; align-items: center;">
                            <select class="form-select" id="inputRegion" name="region" required
                                    style="width:30%; margin-right: 10px;">
                                <option th:selected="${regionType == 0}" value="0" hidden="hidden">시군구 선택</option>
                                <option th:each="region : ${regions}" th:selected="${regionType == region.id}"
                                        th:text="${region.name}" th:value="${region.id}">
                                </option>
                            </select>
                            <select class="form-select" id="inputSortType" name="sortType" style="width:20%;" required>
                                <option th:selected="${sortType == 'recent'}" value="recent">최신순</option>
                                <option th:selected="${sortType == 'popular'}" value="popular">조회수순</option>
                            </select>
                            <div style="display: flex; margin-left:10px; margin-top:15px">
                                <div class="float-start input-group mb-3 me-sm-3">
                                    <input aria-describedby="button-addon2" aria-label="search" class="form-control"
                                           id="search-input"
                                           name="search" placeholder="글을 검색해주세요" th:value="${search}"
                                           type="text">
                                    <input id="page" name="page" type="hidden">
                                    <button class="btn btn-secondary" id="button-search" type="button">검색</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <a th:if="${session.kakaoId}" th:href="@{|/community/${board}/write|}">
                    <button class="btn btn-outline-success float-end" id="btn-write" type="button">글 작성</button>
                </a>
                <button class="btn btn-outline-success float-end" id="btn-write" type="button"
                        th:unless="${session.kakaoId}" onclick="kakao()">글 작성
                </button>

                <div class="list-container" style="margin-top:80px;">
                    <div th:each="post: ${postPage.content}">
                        <a th:href="@{|/community/${board}/${post.id}|}" style="color:black">
                            <div class="card my-3">
                                <div class="card-body">
                                    <div class="position-relative">
                                        <div style="padding-top: 1%" class="review-content-area mt-0 mb-4">
                                            <div class="card-text">
                                                <img class="img-profile-content float-start me-3"
                                                     th:if="${post.isAnonymous == true}"
                                                     src="/static/image/anonymous_profile.png">
                                                <img class="img-profile-content float-start me-3"
                                                     th:if="${post.isAnonymous != true and post.author.profileImage != null}"
                                                     th:src="${post.author.profileImage}">
                                                <img class="img-profile-content float-start me-3"
                                                     th:if="${post.isAnonymous != true and post.author.profileImage == null}"
                                                     src="/static/image/anonymous_profile.png">
                                                <div class="ms-5" th:if="${post.author != null}">
                                                    <p class="fw-bolder mb-0 content-nickname"
                                                       th:if="${post.isAnonymous == true}">익명</p>
                                                    <p class="fw-bolder mb-0 content-nickname"
                                                       th:unless="${post.isAnonymous == true}"
                                                       th:text="${post.author.username}"></p>
                                                    <p class="fw-normal mb-0 content-age"
                                                       th:text="@{|아이 나이: 만 ${post.author.getAge()}세 (${post.author.region.name})|}"></p>
                                                    <p class="fw-normal content-time"
                                                       th:text="${#temporals.format(post.createDate, 'yy/MM/dd HH:mm')}"></p>
                                                </div>
                                                <div class="ms-5" th:unless="${post.author != null}">
                                                    <p class="fw-bolder mb-0 content-nickname">(알 수 없음)</p>
                                                    <p class="fw-normal content-time"
                                                       th:text="${#temporals.format(post.createDate, 'yy/MM/dd HH:mm')}"></p>
                                                </div>
                                                <div class=" mt-2" style="padding-top:20px"
                                                     th:text="${post.title}"></div>
                                                <ul class="content-info">
                                                    <li class="hits" th:text="${post.hits}"></li>
                                                    <li class="comment" th:text="${#lists.size(post.commentList)}"></li>
                                                    <li class="scrap" th:text="${post.scrapCount}"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div th:if="${!postPage.isEmpty()}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!postPage.hasPrevious} ? 'disabled'">
                            <a class="page-link" href="javascript:void(0)" th:data-page="${postPage.number-1}">
                                <span>이전</span>
                            </a>
                        </li>
                        <li class="page-item"
                            th:classappend="${page == postPage.number} ? 'active'"
                            th:each="page: ${#numbers.sequence(0, postPage.totalPages-1)}"
                            th:if="${page >= postPage.number-5 and page <= postPage.number+5}">
                            <a class="page-link" href="javascript:void(0)" th:data-page="${page}"
                               th:text="${page+1}"></a>
                        </li>
                        <li class="page-item" th:classappend="${!postPage.hasNext} ? 'disabled'">
                            <a class="page-link" href="javascript:void(0)" th:data-page="${postPage.number+1}">
                                <span>다음</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>