<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital List</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/static/bootstrap.min.css}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function toggleAdditionalInfo(button) {
            var cardText = button.parentNode;
            var additionalInfos = cardText.querySelectorAll(".additional-info");

            additionalInfos.forEach(function (additionalInfo) {
                if (additionalInfo.style.display === "none") {
                    additionalInfo.style.display = "block";
                    button.textContent = "접기";
                } else {
                    additionalInfo.style.display = "none";
                    button.textContent = "응급실 상세정보 조회";
                }
            });
        }

        // var $ = jQuery.noConflict();
        $(document).ready(function () {

            // 라디오 버튼 변경 시 이벤트 핸들러
            $('input[name="formality"]').change(function () {
                var value = $(this).val();
                var url = value === 'map' ? '/hospital' : '/hospital/list';
                window.location.href = url;
            });

            $('#regionSelect').on('change', function () {
                var selectedRegionName = $(this).val();
                console.log('Selected region: ' + selectedRegionName);
                window.location.href = "/hospital/list?regionName=" + selectedRegionName;
            });

            $('#Design').change(function () {
                var selectedRegionName = $('#regionSelect').val();
                var isERChecked = $(this).is(':checked');

                if (isERChecked) {
                    console.log('운영 중인 응급실이 체크되었습니다.');
                    window.location.href = "/hospital/list?regionName=" + selectedRegionName + "&isERChecked=" + isERChecked;
                } else {
                    console.log('운영 중인 응급실이 체크 해제되었습니다.');
                    window.location.href = "/hospital/list?regionName=" + selectedRegionName;
                }
            });

// URL의 쿼리 파라미터에서 체크 상태 읽어와서 설정
            var urlParams = new URLSearchParams(window.location.search);
            var isERChecked = urlParams.get('isERChecked');
            if (isERChecked === 'true') {
                $('#Design').prop('checked', true);
            }
        });
    </script>
</head>
<body style="background-color: #f8f9fa;">
<div layout:fragment="content">
    <div class="container my-3">
        <div class="content-container">
            <h5 class="border-bottom py-2">서울시 소아 진료 병원 조회</h5>
            <div class="mb-3">
                <div style="float:left; margin-top: 3px">
                    <select aria-label="Default select example" class="form-select" id="regionSelect"
                            style="margin-right: 10px; ">
                        <option hidden="hidden" selected th:unless="${regionName}">시군구 선택</option>
                        <option th:each="region : ${regions}"
                                th:selected="${region.id} == ${regionName}"
                                th:text="${region.name}"
                                th:value="${region.id}"></option>
                    </select>
                </div>
                <div style="float: right">
                    <div class="form_toggle">
                        <div style="margin-top: 5px; margin-right: 10px; margin-bottom:-10px">
                            <svg class="tick-icon">
                                <symbol id="check-tick" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </symbol>
                            </svg>
                            <input class="main" id="Design" style="display: none;" type="checkbox"/>
                            <label class="inside-label" for="Design"><span>
                  <svg height="10px" width="12px">
              <use xlink:href="#check-tick"></use>
                 </svg></span><span style="font-size: small">응급실 운영 병원 조회</span></label>
                        </div>
                        <div class="form_radio_btn" style="width:40px">
                            <input id="radio-1" name="formality" type="radio" value="map">
                            <label for="radio-1">
                                <svg class="bi bi-geo-alt-fill" fill="currentColor" height="22" style="margin-top:-5px"
                                     viewBox="0 0 16 16" width="22" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                </svg>
                            </label>
                        </div>
                        <div class="form_radio_btn" style="width:40px">
                            <input checked id="radio-2" name="formality" type="radio" value="list">
                            <label for="radio-2">
                                <svg class="bi bi-list" fill="currentColor" height="22" style="margin-top:-5px"
                                     viewBox="0 0 16 16" width="22" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                                          fill-rule="evenodd"/>
                                </svg>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="hospital-list-container">
                <div th:each="hospital, index : ${hospitalList}">
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="position-relative">
                                <div class="review-content-area mt-0 mb-4" style="padding-top: 1%">
                                    <div class="card-text">
                                        <div class="fw-bolder strong mt-2" th:text="${hospital.name}"></div>
                                        <p style="font-size: small; color:#0067A3" th:if="${isOpeningList[__${index.index}__] == 1}">(진료 중)</p>
                                        <p style="font-size: small; color:#9B111E" th:if="${isOpeningList[__${index.index}__] == 0}">(진료 마감)</p>
                                        <p class="text-end m-0" style="font-size: 0.8rem; color: gray;"
                                           th:text="${hospital.address}"></p>
                                        <p class="fw-bolder mb-0 content-nickname"
                                           th:if="${hospital.isErOperating == 1}">응급실 운영</p>
                                        <p class="fw-bolder content-nickname" style="margin-bottom:8px"
                                           th:if="${hospital.isErOperating == 2}">응급실 미운영</p>
                                        <p style="font-size: small; margin-bottom: 0px"
                                           th:text="${hospital.getInfo()}"></p>
                                        <p style="font-size: small" th:text="${hospital.getEtc()}"></p>
                                        <p style="font-size: small">
            <span>
                <svg class="bi bi-telephone-fill" fill="currentColor" height="16" viewBox="0 0 16 16"
                     width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                          fill-rule="evenodd"/>
                </svg>
            </span>
                                            <span th:text="${hospital.getTelephone()}"></span>
                                        </p>
                                        <p class="additional-info fw-bolder mb-0 content-nickname" style="display: none; padding-top:10px; margin-bottom:2px">응급실 정보</p>
                                        <p class="additional-info" style="display: none; font-size: small; margin-bottom:2px" th:text="'가용 응급실 일반 병상 수: ' + (${hospital.getHospitalBed() != null && hospital.getHospitalBed() > 0 ? hospital.getHospitalBed() : 0})+'개'"></p>
                                        <p class="additional-info" style="display: none; font-size: small; margin-bottom:2px" th:text="'가용 수술실 수: ' + (${hospital.getOperatingRoom() != null && hospital.getOperatingRoom() > 0 ? hospital.getOperatingRoom() : 0})+'개'"></p>
                                        <p class="additional-info" style="display: none; font-size: small; margin-bottom:2px" th:text="'구급차 가용 여부: ' + (${hospital.getIsAmbulance() != null ? hospital.getIsAmbulance() : 'N'})"></p>
                                        <p class="additional-info" style="display: none; font-size: small; margin-bottom:2px" th:text="'MRI 가용 여부: ' + (${hospital.getIsMri() != null ? hospital.getIsMri() : 'N'})"></p>
                                        <p class="additional-info" style="display: none; font-size: small; margin-bottom:2px" th:text="'CT 가용 여부: ' + (${hospital.getIsCt() != null ? hospital.getIsCt() : 'N'})"></p>
                                        <p class="additional-info" style="display: none; font-size: small; margin-bottom:2px" th:text="'인공호흡기 가용 여부: ' + (${hospital.getIsVentilator() != null ? hospital.getIsVentilator() : 'N'})"></p>
                                        <p class="additional-info" style="display: none; font-size: small; margin-bottom:2px" th:text="'조영촬영기 가용 여부: ' + (${hospital.getIsAngio() != null ? hospital.getIsAngio() : 'N'})"></p>
                                        <button class="btn btn-success btn-sm" onclick="toggleAdditionalInfo(this)"
                                                style="float:right" th:if="${hospital.isErOperating == 1}">응급실 상세정보 조회
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>