<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Hospital List</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
       // var $ = jQuery.noConflict();
        $(document).ready(function() {
            // 라디오 버튼 변경 시 이벤트 핸들러
            $('input[name="formality"]').change(function() {
                var value = $(this).val();
                var url = value === 'map' ? '/hospital' : '/hospital/list';
                window.location.href = url;
            });

            $('#regionSelect').on('change', function() {
                var selectedRegionName = $(this).val();
                console.log('Selected region: ' + selectedRegionName);
                window.location.href = "/hospital/list?regionName="+selectedRegionName;
            });

            $('#Design').change(function() {
                var selectedRegionName = $('#regionSelect').val();
                var isERChecked = $(this).is(':checked');

                if (isERChecked) {
                    console.log('운영 중인 응급실이 체크되었습니다.');
                    window.location.href = "/hospital/list?regionName=" + selectedRegionName + "&isERChecked=" + isERChecked;
                } else {
                    console.log('운영 중인 응급실이 체크 해제되었습니다.');
                    window.location.href = "/hospital/list?regionName="+selectedRegionName;
                }
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="container my-3">
        <div class="content-container">
            <h5 class="border-bottom py-2">전국 실시간 병원 조회</h5>
    <div class="mb-3">
        <div style="float:left; margin-top: 3px">
        <select id="regionSelect" class="form-select" style="margin-right: 10px; " aria-label="Default select example">
            <option selected th:unless="${regionName}" hidden="hidden">시군구 선택</option>
            <option th:each="region : ${regions}"
                    th:value="${region.id}"
                    th:text="${region.name}"
                    th:selected="${region.id} == ${regionName}"></option>
        </select>
        </div>
        <div style="float: right">
        <div class="form_toggle">
            <div style="margin-top: 5px; margin-right: 5px; margin-bottom:-10px">
                <svg class="tick-icon">
                    <symbol id="check-tick" viewbox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </symbol>
                </svg>
                <input class="main" id="Design" type="checkbox" style="display: none;"/>
                <label class="inside-label" for="Design"><span>
                  <svg width="12px" height="10px">
              <use xlink:href="#check-tick"></use>
                 </svg></span><span style="font-size: small">운영 중인 응급실</span></label>
            </div>
            <div class="form_radio_btn">
                <input id="radio-1" type="radio" name="formality" value="map">
                <label for="radio-1">지도</label>
            </div>
            <div class="form_radio_btn">
                <input id="radio-2" type="radio" name="formality" value="list" checked>
                <label for="radio-2">목록</label>
            </div>
        </div>
        </div>
    </div>
     <br>
    <div class="hospital-list-container">
    <div th:each="hospital : ${hospitalList}">
        <a style="text-decoration:none; color:inherit" th:href="@{/hospital/detail/} + ${hospital.hpId} + @{/}">
            <div class="card my-3">
                <div class="card-body">
                    <div class="position-relative">
                        <div style="padding-top: 1%" class="review-content-area mt-0 mb-4">
                            <div class="card-text">
                                <div class="fw-bolder strong mt-2" th:text="${hospital.name}"></div>
                                <p class="text-end m-0" th:text="${hospital.address}" style="font-size: 0.8rem; color: gray;"></p>
                                <p class="fw-bolder mb-0 content-nickname" th:if="${hospital.isErOperating == 1}">응급실 운영</p>
                                <p class="fw-bolder mb-0 content-nickname" th:if="${hospital.isErOperating == 2}">응급실 미운영</p>
                                <p class="fw-bolder mb-0 content-nickname" th:text="${hospital.getInfo()}"></p>
                                <p class="fw-bolder mb-0 content-nickname" th:text="${hospital.getEtc()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>