<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>아이 케어, BBIBBO</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function kakao(button) {
            var key =[[${@environment.getProperty('kakao.key')}]];

            location.href = "https://kauth.kakao.com/oauth/authorize?client_id="+key+"&redirect_uri=http://52.2.5.154:8080/oauth/kakao&response_type=code&prompt=login";
        }
        /*]]>*/

    </script>
</head>
<body>
<div class="nav_bottom" style="background-color: #f8f9fa; margin-top: -14px; height:100%">
    <div layout:fragment="content">
        <div class="container my-3">
            <div class="content-container">
                <div class="input-form-background row">
                    <div class="input-form col-md-12 mx-auto">
                        <h4 class="mb-3">로그인</h4>
                        <div class="mb-3">
                            <img onclick="kakao(this)" src="/static/images/kakao_login_medium_narrow.png" style="height:60px"/>
                        </div>
                        <div class="mb-3">
                            <button type="button" th:onclick="|location.href='@{/testUser}'|" class="btn btn-success btn-lg btn-block">테스트 계정 로그인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>