<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이 케어, BBIBBO</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/static/bootstrap.min.css}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .input-form {
            max-width: 680px;
            margin-top: 80px;
            padding: 32px;
            background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }
    </style>
    <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            setDateBox();
        });

        // select box 연도 , 월 표시
        function setDateBox(){
            var dt = new Date();
            var year = "";
            var com_year = dt.getFullYear();
            for(var y = (com_year); y >= (com_year-19); y--){
                $("#bornYear").append("<option value='"+ y +"'>"+ y + " 년" +"</option>");
            }
        }

    </script>
</head>
<body style="background-color: #f8f9fa;">
<div layout:fragment="content">
    <div class="container my-3">
        <div class="content-container">
            <div class="input-form-background row">
                <div class="input-form col-md-12 mx-auto">
                    <h4 class="mb-3">회원가입 추가 정보</h4>
                    <form class="validation-form" th:action="@{/register/{userId}(userId=${userId})}" method="post" enctype="multipart/form-data" novalidate>
                        <div class="mb-3">
                            <label for="name">이름</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                이름을 입력해주세요.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="name">이메일</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                이메일을 입력해주세요.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="nickname">닉네임</label>
                            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                별명을 입력해주세요.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="region">거주지</label>
                            <select id="region" name="region" class="form-select" style="margin-right: 10px; " aria-label="Default select example">
                                <option selected th:unless="${regionName}" hidden="hidden">시군구 선택</option>
                                <option th:each="region : ${regions}"
                                        th:value="${region.id}"
                                        th:text="${region.name}"
                                        th:selected="${region.id} == ${regionName}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="nickname">아이 출생 연도</label>
                            <select id="bornYear" name="bornYear" class="form-select" style="margin-right: 10px; " aria-label="Default select example">
                                <option selected th:unless="${bornYear}" hidden="hidden">출생 연도 선택</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="imgFile">프로필 사진</label>
                            <input type="file" name="imgFile" id="imgFile" accept=".jpg, .png" class="form-control">
                        </div>
                        <hr class="mb-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="aggrement" required>
                            <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                        </div>
                        <div class="mb-4"></div>
                        <button class="btn btn-success btn-lg btn-block" type="submit">가입 완료</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    window.addEventListener('load', () => {
        const forms = document.getElementsByClassName('validation-form');

        Array.prototype.filter.call(forms, (form) => {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }

                form.classList.add('was-validated');
            }, false);
        });
    }, false);
</script>
</body>
</html>
