<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
       layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8"><title>Hospital List</title>
        <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script th:src="@{'https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId='+${@environment.getProperty('naver.id')}}"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{../../static/assets/MarkerClustering.js}"></script>
    </head>
<body onload="javascript:initMap()">
<div layout:fragment="content">
<div class="container my-3">
    <div class="content-container">
        <h5 class="border-bottom py-2">전국 실시간 병원 조회</h5>
        <div class="mb-3">
            <div class="form_toggle" style="justify-content: flex-end;">
                <div class="form_radio_btn">
                    <input id="radio-1" type="radio" name="formality" value="map" checked>
                    <label for="radio-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-geo-alt-fill" style="margin-top:-5px" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                    </label>
                </div>
                <div class="form_radio_btn">
                    <input id="radio-2" type="radio" name="formality" value="list" >
                    <label for="radio-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" style="margin-top:-5px" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </label>
                </div>
            </div>
        </div>
<div id="map" class= "" style="width:100%;height:800px;"></div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                // 라디오 버튼 변경 시 이벤트 핸들러
                $('input[name="formality"]').change(function() {
                    var value = $(this).val();
                    var url = value === 'map' ? '/hospital' : '/hospital/list';
                    window.location.href = url;
                });
            });
            function redirectToDetail(url) {
                window.location.href = url;
            }
        </script>
        <script>
    var map = new naver.maps.Map("map", {
        zoom: 11,
        center: new naver.maps.LatLng(37.527467, 126.982318),
        zoomControl: true,
        zoomControlOptions: {
            position: naver.maps.Position.TOP_LEFT,
            style: naver.maps.ZoomControlStyle.SMALL
        }
    });

    //클러스터 마크 정의
    var htmlMarker1 = {
            content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:#ffffff;text-align:center;font-weight:bold;background:url(/static/images/cluster-marker-1.png);background-size:contain;"></div>',
            size: N.Size(40, 40),
            anchor: N.Point(20, 20)
        },
        htmlMarker2 = {
            content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/static/images/cluster-marker-2.png);background-size:contain;"></div>',
            size: N.Size(40, 40),
            anchor: N.Point(20, 20)
        },
        htmlMarker3 = {
            content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/static/images/cluster-marker-3.png);background-size:contain;"></div>',
            size: N.Size(40, 40),
            anchor: N.Point(20, 20)
        },
        htmlMarker4 = {
            content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/static/images/cluster-marker-4.png);background-size:contain;"></div>',
            size: N.Size(40, 40),
            anchor: N.Point(20, 20)
        },
        htmlMarker5 = {
            content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/static/images/cluster-marker-5.png);background-size:contain;"></div>',
            size: N.Size(40, 40),
            anchor: N.Point(20, 20)
        };


    var markers = [], infoWindows=[];

    function initMap() {

        $.ajax({
            type:"get",
            url:"data.json",
            dataType:"json",
            success: function(data){
                $.each(data , function(i){
                    var x = data[i].latitude;
                    var y = data[i].longitude;
                    var marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(x, y),
                        map: map,
                        icon: {
                            url: '/static/images/logo.png',
                            scaledSize: new naver.maps.Size(41, 37)
                        },
                        draggable: false
                    });
                    var detailUrl = "/hospital/detail/" + data[i].hpId;
                    var isER = "";
                    if (data[i].isErOperating == 1) {
                        isER = "응급실 운영";
                    } else {
                        isER = "응급실 미운영";
                    }
                    var infoWindow = new naver.maps.InfoWindow({
                        content:
                            '<div style="width:200px;text-align:left;padding-left:10px; margin-top:10px; padding-right: 10px; padding-bottom: 5px;"><b>'+ data[i].name +'</b></div>'+
                            '<div style="width:200px;text-align:left;padding-left:10px;padding-right: 10px; padding-bottom: 5px; font-size: smaller"><b>주소: '+ data[i].address +'</b></div>'+
                            '<div style="width:200px;text-align:left;padding-left:10px;padding-right: 10px; padding-bottom: 5px; font-size: small"><b>'+ isER +'</b></div>'+
                            '<div style="width:200px;text-align:left;padding-left:10px;padding-right: 10px; padding-bottom: 5px;  font-size: small"><p>비고: '+ data[i].etc +'</p></div>'+
                            '<button type="button" class="btn btn-success btn-sm " style="float:right; margin-right:5px; margin-top:-15px; font-size: 12px; " onclick="redirectToDetail(\'' + detailUrl + '\')">상세보기</div>'
                    });
                    markers.push(marker);
                    infoWindows.push(infoWindow);

                });


                //클러스터링
                var markerClustering = new MarkerClustering({
                    minClusterSize: 1,
                    maxZoom: 15,
                    map: map,
                    markers: markers,
                    disableClickZoom: false,
                    gridSize: 120,
                    icons: [htmlMarker1, htmlMarker2, htmlMarker3, htmlMarker4, htmlMarker5],
                    indexGenerator: [5, 8, 10, 13, 15],
                    stylingFunction: function(clusterMarker, count) {
                        $(clusterMarker.getElement()).find('div:first-child').text(count);
                    }
                });

                function getClickHandler(seq){
                    return function(e) {
                        var marker = markers[seq],
                            infoWindow = infoWindows[seq];

                        if (infoWindow.getMap()) {
                            infoWindow.close();
                        } else {
                            infoWindow.open(map, marker);
                        }
                    }
                }

                for (var i=0, ii=markers.length; i<ii; i++) {
                    naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
                }


            },
            error:function(){
                console.log("통신에러");
            }
        })
    }

</script>
    </div>
</div>
</div>
</body>

</html>