<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{user/mypage/mypage_layout}">
<head>
    <meta charset="UTF-8">
    <title>아이 케어, BBIBBO</title>
    <script>
        $(document).ready(function(){
            setDateBox();
        });

        // select box 연도 , 월 표시
        function setDateBox(){
            var dt = new Date();
            var year = "";
            var com_year = dt.getFullYear();
            for(var y = (com_year); y >= (com_year-19); y--){
                $("#inputBornYear").append("<option value='"+ y +"'>"+ y + " 년" +"</option>");
            }
        }

    </script>
</head>
<body style="background-color: #f8f9fa">
<div layout:fragment="mypage-content">
    <h3 class="my-3 border-bottom pb-2">프로필 편집</h3>

    <div class="mypage-profile">
        <form>
            <img id="mypage-profile-img" class="mypage-profile-img" th:if="${user.profileImage == null or user.profileImage == ''}"
                 src="/static/image/anonymous_profile.png">
            <img class="mypage-profile-img" th:unless="${user.profileImage == null or user.profileImage == ''}" th:src="${user.profileImage}">
            <input class="form-control d-none" type="file" accept="image/*" id="editFile" onchange="editProfile()">
            <div class="mt-2">
                <label for="editFile">
                    <span class="mypage-profile-edit" onclick="editProfile()">프로필 편집</span>
                </label>
            </div>
            <div class="form-group row mt-5 justify-content-center">
                <label for="inputUserName" class="col-sm-1 col-form-label">닉네임</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="inputUserName" th:placeholder="${user.username}">
                </div>
            </div>
            <div class="form-group row mt-5 justify-content-center">
                <label for="inputRegion" class="col-sm-1 col-form-label">거주지</label>
                <div class="col-sm-3">
                    <select id="inputRegion" name="inputRegion" class="form-select" style="margin-right: 10px; " aria-label="Default select example">
                        <option th:each="region : ${regions}"
                                th:value="${region.id}"
                                th:text="${region.name}"
                                th:selected="${region.id} == ${user.region.id}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-5 justify-content-center">
                <label for="inputBornYear" class="col-sm-1 col-form-label">아이 출생연도</label>
                <div class="col-sm-3">
                    <select id="inputBornYear" name="inputBornYear" class="form-select" style="margin-right: 10px; " aria-label="Default select example">
                        <option selected th:text="|${user.bornYear} 년|" hidden="hidden">출생 연도 선택</option>
                    </select>
                </div>
            </div>
            <div class="mt-5 mb-5">
                <button type="button" class="btn btn-success me-3" id="btn-submit" onclick="updateInfo()">수정하기</button>
                <button type="reset" class="btn btn-secondary" id="btn-reset" onclick="resetInfo()">취소하기</button>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
        var originImage = document.getElementsByClassName("mypage-profile-img")[0].src;

        function editProfile() {
            const fileInput = document.getElementById("editFile");
            const selectedFile = fileInput.files[0];
            let updateImage = document.getElementsByClassName("mypage-profile-img")[0];

            const fileReader = new FileReader();
            fileReader.onload = e => {
                updateImage.src = e.target.result;
            }

            fileReader.readAsDataURL(selectedFile);
        }

        function updateInfo() {
            let formData = new FormData();

            let usernameInput = $('#inputUserName')
            let regionInput = $('#inputRegion')
            let bornYearInput = $('#inputBornYear')

            if (usernameInput.val()) {
                formData.append("username", usernameInput.val());
            } else {
                formData.append("username", usernameInput.attr("placeholder"));
            }
            if (regionInput.val()) {
                formData.append("region", regionInput.val());
            } else {
                formData.append("region", regionInput.val());
            }
            if (bornYearInput.val()) {
                formData.append("bornYear", bornYearInput.val());
            } else {
                formData.append("bornYear", bornYearInput.val());
            }

            const fileInput = document.getElementById("editFile");
            const selectedFile = fileInput.files[0];
            formData.append("image", selectedFile);

            $.ajax({
                url: `/user/update`,
                type: 'POST',
                data: formData,
                enctype: "multipart/form-data",
                processData: false,
                contentType: false,
                cache: false,
                success: function () {
                    location.reload();
                },
                error: function (error) {
                    alert("code : " + error.status + "\n" + "message : " + error.responseText + "\n" + "error : " + error);
                }
            });
        }

        function resetInfo() {
            let updateImage = document.getElementsByClassName("mypage-profile-img")[0];
            updateImage.src = originImage;
        }
    </script>
</div>
</body>
</html>